<ion-view title="Detalle" id="page3">
  <ion-content padding="true" class="has-header">
    <div id="detalle-container4">
      <div id="detalle-markdown14" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Nov. 12. 2016 10:45 am</p>
      </div>
      <div id="detalle-markdown18" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Noticia número uno</strong>
        </p>
      </div>
      <div id="detalle-markdown19" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Lorem ipsum</p>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 39px;"></div>
    <div id="detalle-container9">
      <div id="detalle-markdown20" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Some friendly aksjdnak askd aj laklaksñañd a as as dlaksjd alkj aksjd lajasjd las laksjdlakas </p>
      </div>
    </div>
  </ion-content>
</ion-view>