<ion-view title="Login" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="login-container1">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="spacer" style="width: 300px; height: 23px;"></div>
    </div>
    <form id="login-form1" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="main" id="login-button1" class="button button-stable  button-block">Log in</a>
    </form>
  </ion-content>
</ion-view>