<ion-view title="Marketing" id="page6">
  <ion-content padding="true" class="has-header">
    <div id="marketing-container6">
      <div id="marketing-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Noticia número uno</strong>
        </p>
      </div>
      <div id="marketing-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Lorem ipsum</p>
      </div>
      <div id="marketing-markdown12" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Nov. 12. 2016 10:45 am</p>
      </div>
    </div>
    <ion-list id="marketing-list4">
      <ion-item class="item-thumbnail-left item-icon-right" id="marketing-list-item10" ui-sref="menu.detalle">
        <h2>Item 1</h2>
        <i class="icon ion-ios-more"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="marketing-list-item11" ui-sref="menu.detalle">
        <h2>Item 2</h2>
        <i class="icon ion-ios-more"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="marketing-list-item12" ui-sref="menu.detalle">
        <h2>Item 3</h2>
        <i class="icon ion-ios-more"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>