<ion-view title="Ventas" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="ventas-container5">
      <div id="ventas-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Noticia número uno</strong>
        </p>
      </div>
      <div id="ventas-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Lorem ipsum</p>
      </div>
      <div id="ventas-markdown9" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Nov. 12. 2016 10:45 am</p>
      </div>
    </div>
    <ion-list id="ventas-list3">
      <ion-item class="item-thumbnail-left item-icon-right" id="ventas-list-item7" ui-sref="menu.detalle">
        <h2>Item 1</h2>
        <i class="icon ion-ios-more"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="ventas-list-item8" ui-sref="menu.detalle">
        <h2>Item 2</h2>
        <i class="icon ion-ios-more"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="ventas-list-item9" ui-sref="menu.detalle">
        <h2>Item 3</h2>
        <i class="icon ion-ios-more"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>