<ion-view id="page3" class="bg-detalle">
  <ion-content class="has-header">
    <div id="detalle-container4" class="detalle-info-noticia">
      <div class="spacer" style="width: 300px; height: 110px;"></div>
      <div id="detalle-markdown14" class="show-list-numbers-and-dots">
        <p class="detalle-fecha">
        <i class="detalle-icon-fecha"></i>Nov. 12. 2016 10:45 am</p>
      </div>
      <div id="detalle-markdown18" class="show-list-numbers-and-dots">
        <p class="detalle-title">Noticia número uno</p>
      </div>
      <div class="detalle-border-title azul-claro"></div>
      <div id="detalle-markdown19" class="show-list-numbers-and-dots">
        <p class="detalle-subtitle">Lorem ipsum</p>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 60px;"></div>
    <div id="detalle-container9">
      <div id="detalle-markdown20"  class="detalle-text">
        <img src="img/noticias/1.jpg" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit eligendi excepturi quam, et qui error quas ratione totam vero non illum maxime enim repellat aut dolore, velit, deleniti placeat dolorum?.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi harum, sit fugit recusandae reprehenderit hic dolore suscipit sunt nemo quasi quas ipsa ipsum omnis magni neque cumque nihil, ducimus illo!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, tempore doloremque corrupti neque. Architecto ipsam quaerat incidunt eius repudiandae iste et, alias quas illo ratione sed expedita temporibus accusamus fugit?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, suscipit, excepturi repellendus reiciendis accusantium fugiat alias esse ea architecto numquam harum provident iste, laborum ex aut porro! Illo, sunt, eligendi!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, tempore. Consequatur, velit, illo! Cum ipsam officiis debitis quos itaque eum repellendus fuga ut consequatur veniam. Vel voluptas qui, quis? Nemo.</p>
      </div>
    </div>
  </ion-content>
</ion-view>