<ion-view title="Login" id="page4" class="login" hide-nav-bar="true">
  <ion-content scroll="false" padding="true" class="has-header" >
    <div class="spacer" style="width: 300px; height: 60px;"></div>
    <div id="login-container1">
      <div >
        <img src="img/imgs/logo.png" class="logo" alt="">
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 60px;"></div>
    <form id="login-form1" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <i class="logo-mail logo-small"></i>
          <input type="text" placeholder="Correo electrónico">
        </label>
        <label class="item item-input" id="login-input2">
          <i class="logo-pass logo-small"></i>
          <input type="password" placeholder="Contraseña">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu.main" id="login-button1" class="btn-login button button-stable  button-block">
        Ingresar 
      </a>
        <i class="logo-arrow-go logo-small"></i>
    </form>
  </ion-content>
</ion-view>