<ion-view id="page7" class="main" hide-nav-bar="true">
  <ion-content padding="true" scroll="false" class="has-header">
    <div id="main-container7">
    	<div>
    		<i class="main-icon main-icon-ventas"></i>
			<a ui-sref="menu.subcategoria" id="main-button4" class="btn-categoria">Ventas</a>
    	</div>
    	<div>
    		<i class="main-icon main-icon-marketing"></i>
			<a ui-sref="menu.subcategoria" id="main-button5" class="btn-categoria">Marketing</a>
    	</div>
    	
    </div>
  </ion-content>
</ion-view>