<ion-view  id="page2" class="bg-list-noticias">
  <ion-content class="has-header">
    <div class="list-cat-tipo">
      <i class="list-cat-icon-carrito"></i>
      <span class="separador-icons"> / </span>
      <i class="list-cat-icon-torta"></i>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <div id="ventas-container5">
      
      <div id="ventas-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
        <p class="list-title">
          Noticia número uno
        </p>
      </div>
      <div id="ventas-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
        <p class="list-subtitle">Lorem ipsum</p>
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <div id="ventas-markdown9" class="show-list-numbers-and-dots">
        <p style="color:white; margin-left: 15px;">Nov. 12. 2016 10:45 am</p>
      </div>
    </div>
    <div id="ventas-list3">
      <ion-item class="item-thumbnail-left item-icon-right" id="ventas-list-item7" ui-sref="menu.detalle">
        <img src="img/noticias/1.jpg">
        <h2>Item 1</h2>
        <i class="icon ion-ios-more"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="ventas-list-item8" ui-sref="menu.detalle">
        <img src="img/noticias/2.jpg">
        <h2>Item 2</h2>
        <i class="icon ion-ios-more"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="ventas-list-item9" ui-sref="menu.detalle">
        <img src="img/noticias/3.jpg">
        <h2>Item 3</h2>
        <i class="icon ion-ios-more"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="ventas-list-item9" ui-sref="menu.detalle">
        <img src="img/noticias/4.jpg">
        <h2>Item 4</h2>
        <i class="icon ion-ios-more"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="ventas-list-item9" ui-sref="menu.detalle">
        <img src="img/noticias/5.jpg">
        <h2>Item 4</h2>
        <i class="icon ion-ios-more"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="ventas-list-item9" ui-sref="menu.detalle">
        <img src="img/noticias/5.jpg">
        <h2>Item 4</h2>
        <i class="icon ion-ios-more"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="ventas-list-item9" ui-sref="menu.detalle">
        <img src="img/noticias/5.jpg">
        <h2>Item 4</h2>
        <i class="icon ion-ios-more"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>