<ion-view  id="page2" class="main">
  <ion-content class="has-header">
    <div class="spacer" style="height: 50px;"></div>
    <div id="ventas-container5">
      <div id="ventas-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
        <p class="list-title subcategoria-title">
          Ventas
        </p>
      </div>
      <div class="spacer" style="height: 40px;"></div>
      <div class="subcategoria-row subcategoria-row1">
        <a ui-sref="menu.ventas" id="main-button4" class="btn-subcat btn-subcategoria-row1-caja1">CONSUMO AL DÍA</a>
        <a ui-sref="menu.ventas" id="main-button4" class="btn-subcat btn-subcategoria-row1-caja2">CONSUMO EN MOVIMIENTO</a>
      </div>
      <div class="subcategoria-row subcategoria-row2">
        <a ui-sref="menu.ventas" id="main-button4" class="btn-subcat">ENTRETENIMIENTO</a>
      </div>
      <div class="subcategoria-row subcategoria-row3">
        <a ui-sref="menu.ventas" id="main-button4" class="btn-subcat btn-subcategoria-row3-caja1">CONCURSOS ALENJANDRÍA MÓVIL</a>
        <a ui-sref="menu.ventas" id="main-button4" class="btn-subcat btn-subcategoria-row3-caja2">CONSUMO AL DÍA</a>
      </div>
      <div class="subcategoria-row subcategoria-row1">
        <a ui-sref="menu.ventas" id="main-button4" class="btn-subcat btn-subcategoria-row1-caja1">CONSUMO AL DÍA</a>
        <a ui-sref="menu.ventas" id="main-button4" class="btn-subcat btn-subcategoria-row1-caja2">CONSUMO EN MOVIMIENTO</a>
      </div>
      <div class="subcategoria-row subcategoria-row2">
        <a ui-sref="menu.ventas" id="main-button4" class="btn-subcat">ENTRETENIMIENTO</a>
      </div>
      <div class="subcategoria-row subcategoria-row3">
        <a ui-sref="menu.ventas" id="main-button4" class="btn-subcat btn-subcategoria-row3-caja1">CONCURSOS ALENJANDRÍA MÓVIL</a>
        <a ui-sref="menu.ventas" id="main-button4" class="btn-subcat btn-subcategoria-row3-caja2">CONCURSOS ALENJANDRÍA MÓVIL</a>
      </div>
    </div>
  </ion-content>
</ion-view>